<form method="post" action="{{ path('dealers_delete', {'id': dealer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dealer.id) }}">
    <button class="btn">Delete</button>
</form>
